@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

body {
	font-family:Open Sans, Helvetica Neue, Trebuchet MS, Arial, sans-serif;
}

.main {
	border:solid 3px #333;
	border-radius:4px 4px 0px 0px;
}

.title {
	background-color:#333;
	border-bottom:solid 3px #333;
	font-size:14px;
	color:#fff;
	padding:9px;
	cursor:pointer;
}

.content {
	height:250px;
	background-color:#fff;
	font-size:12px;
	padding:12px;
}